footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #636060;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer_contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer_contenido h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer_contenido p {
    max-width: 500px;
    margin: 10px auto;
    margin-bottom: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer_autor {
    background: #3b3a3a;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer_autor p {
    float: left;
    font-size: 14px;
    color: #ccc;
    word-spacing: 2px;
}

.autor {
    padding: 20px;
    text-align: center;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 10px;
}