html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

li {
    list-style: none;
    margin-right: 25px;
}

.titular {
    text-align: center;
    margin-top: 280px;
}

h1 {
    font-size: 55px;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    margin: 0;
}

.contenedor {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}

#home {
    background-image: url('./../img/background-home.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#header__navegacion {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 25px;
}

#header__navegacion a {
    color: rgba(0, 0, 0, 0.637);
    font-family: 'Secular One', sans-serif;
}

#header__navegacion .header__logo {
    float: left;
    padding-top: 16px;
    font-size: 25px;
}

#header__navegacion .header__enlace {
    font-size: 15px;
}

#header__navegacion ul {
    list-style: none;
    float: right;
}

#header__navegacion ul li {
    float: left;
}

#header__navegacion ul li a {
    display: block;
    padding: 20px 3px;
    text-align: center;
}

#header__navegacion ul li a:hover {
    color: #6e188088;
}

#header__info {
    padding: 10px 0;
}

/* -------------------seccion institucional------------------- */

#institucional {
    padding-top: 5px;
    height: 100vh;
}

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin-top: 50px;
}

.contenedor-institucional {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.contenedor-institucional-parrafo {
    width: 45%;
    height: 71.5vh;
    padding: 50px;
    background-color: #d1b1ee;
}

.imagen-institucional {
    height: 490px;
    width: 55%;
}


/* -------------------seccion especialidad------------------- */

#especialidades {
    padding-top: 5px;
}

.contenedor-especialidades {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.card-body,
.list-group-item {
    background-color: #d1b1ee;
}


/* -------------------seccion instalaciones------------------- */

#instalaciones {
    padding-top: 5px;
}

.instalaciones-parrafo {
    margin-bottom: 30px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.instalaciones-background {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d1b1ee;
}

/* -------------------seccion ubicacion------------------- */

#ubicacion {
    padding-top: 5px;
}

#ubicacion h3 {
    margin-bottom: 30px;
}
